body {
	background-color: #f2f2f2;
}

.container-fluid {
	background-color: lightgray;
}

#messageRow {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

#header {
	padding: 30px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

#bannerRow {
	background-color: black;
}

#messageListArea {
	overflow-y: scroll;
	max-height: 700px;
}

#messageListArea p {
	font-size: 0.8em;
}